[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak,
	.x-ng-cloak {
	display: none !important;
}

.navbar-inverse .navbar-brand {
	color: white;
}

.info {
	float: right;
}

.count {
	font-weight: 300;
	font-size: 1.35em;
	color: #CCC;
	transition: .7s;
}

.count.danger {
	color: #a94442;
	font-weight: 600;
}

.message time {
	width: 80px;
	color: #999;
	display: block;
	float: left;
}

.message {
	margin: 0;
}

.message .self {
	font-weight: 600;
}

.message span {
	width: calc(100% - 80px);
	display: block;
	float: left;
	padding-left: 20px;
	border-left: solid 1px #F1F1F1;
	padding-bottom: .5em;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: solid 1px #F1F1F1;
	margin: 1em 0;
	padding: 0;
}

#accordion {
	position: fixed;
	width: 30%;
	float: right;
	z-index: 999;
	border: 1px solid #ccc;
	border-radius: 10px;
}

.panel-heading {
	padding: 0;
}

.panel-group .panel {
}

.panel-title a {
	text-align: center;
	display: block;
	font-size: 18px;
	font-family: Helvetica, Arial, sans-serif;
	outline: none;
	border-radius: 10px;	
}

.panel-title a:hover, .panel-title a:focus, .panel-title a:active {
	text-decoration: none;
	outline: none;
	border-radius: 10px;
}

.entryDiv {
	padding: 10px 20px;
	border: 1px solid #ddd;
	background-color: #fafafa;
	border-radius: 10px;
}