<div class="col-md-12 col-sm-12">
			<!-- BEGIN PORTLET-->
			<div class="portlet light bordered">
				<div class="portlet-title">
					<div class="caption">
						<span style="color:#3598dc"><i class="fa fa-envelope-o"></span></i> <span
							class="caption-subject font-blue bold uppercase">ITLT Communication</span>
					</div>
					<div class="actions">
						<div class="portlet-input input-inline">
							<div class="input-icon right">
								
							</div>
						</div>
					</div>
				</div>
				<div id="itltComm" class="portlet-body">
					<div class="slimScrollDiv"
						style="position: relative; overflow: hidden; width: auto; height: 125px;">
						<div data-rail-visible1="1" data-always-visible="1"
							style="height: 525px; overflow: hidden; width: auto;"
							class="scroller" data-initialized="1">
							<ul class="itltComm">
								</ul>
						</div>
						<div class="slimScrollBar"
							style="background: rgb(187, 187, 187) none repeat scroll 0% 0%; width: 7px; position: absolute; top: 0px; opacity: 0.4; display: block; border-radius: 7px; z-index: 99; right: 1px; height: 302.22px;"></div>
						<div class="slimScrollRail"
							style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(234, 234, 234) none repeat scroll 0% 0%; opacity: 0.2; z-index: 90; right: 1px;"></div>
					</div>
					<div class="chat-form">
						<div class="input-cont">
							<textarea ui-tinymce ng-model="tinymceModel"></textarea>
						</div>
						<div class="btn-cont">
							<span class="arrow"> </span> <a class="btn blue icn-only" href="">
								<i class="fa fa-check icon-white"></i>
							</a>
						</div>
					</div>
				</div>
			</div>
			<!-- END PORTLET-->
			</div>