<!-- BEGIN HEADER TOP -->
<div class="page-header-top">
    <div class="container">
        <!-- BEGIN LOGO -->
        <div class="page-logo">
            <a href="#/landing.html">
                <img src="{{settings.layoutPath}}/img/incidentist.jpg" alt="logo" style="width:106px;margin: 29.5px 0 0;"> </a>
        </div>
        <!-- END LOGO -->
        <!-- BEGIN RESPONSIVE MENU TOGGLER -->
        <a href="javascript:;" class="menu-toggler"></a>
        <!-- END RESPONSIVE MENU TOGGLER -->
        <!-- BEGIN TOP NAVIGATION MENU -->
        <div class="top-menu">
            <ul class="nav navbar-nav pull-right">
                <!-- BEGIN NOTIFICATION DROPDOWN -->
                
                <!-- END NOTIFICATION DROPDOWN -->
                <!-- BEGIN TODO DROPDOWN -->
                
                <!-- END TODO DROPDOWN -->
                <li class="droddown dropdown-separator">
                    <span class="separator"></span>
                </li>
                <!-- BEGIN INBOX DROPDOWN -->
                
                <!-- END INBOX DROPDOWN -->
                <!-- BEGIN USER LOGIN DROPDOWN -->
                <li class="dropdown dropdown-user dropdown-dark">
                    <a href="javascript:;" class="dropdown-toggle" dropdown-menu-hover data-toggle="dropdown" data-close-others="true">
                        <img alt="" class="img-circle" src="http://secure.wellmanage.com/pb/Photos/{{user.result[0].employee_number}}.jpg">
                        <span class="username username-hide-mobile">Hello {{user.result[0].name}}!</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-default">
                        
                        <li>
                            <a href="#">
                                <i class="icon-key"></i> Log Out </a>
                        </li>
                    </ul>
                </li>
                <!-- END USER LOGIN DROPDOWN -->
            </ul>
        </div>
        <!-- END TOP NAVIGATION MENU -->
    </div>
</div>
<!-- END HEADER TOP -->
<!-- BEGIN HEADER MENU -->
<div class="page-header-menu">
    <div class="container">
        <!-- BEGIN MEGA MENU -->
        <!-- DOC: Apply "hor-menu-light" class after the "hor-menu" class below to have a horizontal menu with white background -->
        <!-- DOC: Remove dropdown-menu-hover and data-close-others="true" attributes below to disable the dropdown opening on mouse hover -->
        <div class="hor-menu" ng-show="incidentId">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="#/dashboard.html">Incident Bridge</a>
                </li>
                <li class="active">
                    <a href="#/rundown.html">Incident Summary</a>
                </li>
                 <li class="active">
                    <a href="#/teams.html">Team</a>
                </li>
                <li class="menu-dropdown mega-menu-dropdown ">
                    <a data-hover="megamenu-dropdown" data-close-others="true" data-toggle="dropdown" href="#" class="dropdown-toggle"> Communication
                        <i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu" style="min-width: 410px">
                        <li>
                            <div class="mega-menu-content">
                                <div class="row">
                                    <div class="col-md-6">
                                        <ul class="mega-menu-submenu">
                                           
                                            <li>
                                                <a href="#/itltComm.html" class="iconify">
                                                    <i class="icon-puzzle"></i> ITLT Communication </a>
                                            </li>
                                            <li>
                                                <a href="#/bizComm.html" class="iconify">
                                                    <i class="icon-paper-clip"></i> Business Communication </a>
                                            </li>
                                            
                                        </ul>
                                    </div>
                                    
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
                
<!--                 <li class="menu-dropdown classic-menu-dropdown ">
                    <a data-hover="megamenu-dropdown" data-close-others="true" data-toggle="dropdown" href="javascript:;"> Tasks
                        <i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu pull-left">
                       
                        <li>
                            <a href="#/incidentTasks.html">
                                <i class="icon-check"></i> Tasks </a>
                        </li>
                        
                    </ul>
                </li> -->
            </ul>
        </div>
        <!-- END MEGA MENU -->
    </div>
</div>
<!-- END HEADER MENU -->
